hostname onprem-libreswan-vcn-subnet-vnic
password zebra
enable password zebra
log file /var/log/quagga/quagga.log
!
interface ens3
 ipv6 nd suppress-ra
!
interface vti1
  ip address 192.168.100.101/30
  ipv6 nd suppress-ra
!
interface vti2
  ip address 192.168.200.201/30
  ipv6 nd suppress-ra
!
ip forwarding
!
line vty
!